menu "Ouchat Configuration"

    config OUCHAT_KEY
        string "Ouchat Secret Key"
        default "mykey"
        help
            The secret key of your ouchat.

    config OUCHAT_CAT
        string "Ouchat Cat ID"
        default "mycat"
        help
            The ID of your cat.

    config OUCHAT_DEBUG_LOGGER
        bool "Ouchat Logger"
        help
            Used to debug Ouchat

    menu "Debug Logger"
        depends on OUCHAT_DEBUG_LOGGER

        config OUCHAT_DEBUG_LOGGER_IP
            string "Logger Server IP"
            default "0.0.0.0"
            help
                The IP of the logging server

    endmenu
endmenu
